<div id="cesium"></div>
<div id="geocoderContainer"></div>
<p-speedDial [model]="items" direction="right" showIcon="pi pi-map" hideIcon="pi pi-times" #speedDial></p-speedDial>
<p-dialog header="Save Vendor Spot" [visible]="showSaveBoundaryDialog()" position="bottom" [style]="{ width: '50vw' }">
  <div class="card" [formGroup]="vendorLocationForm">
    <div class="field">
      <label for="boundaryName">Vendor Spot Name</label>
      <input id="boundaryName" type="text"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        formControlName="name">
    </div>
    <div class="field">
      <label for="boundaryName">Color</label>
      <div>
        <p-colorPicker formControlName="color" format="rgb" appendTo="body"></p-colorPicker>
      </div>
    </div>
    <button type="button"
      class="text-white bg-primary-500 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700"
      (click)="saveBoundary()"[disabled]="vendorLocationForm.invalid">Save</button>
  </div>
</p-dialog>

<p-overlayPanel #op>
  <div class="p-2 max-w-30rem" [formGroup]="mapSearchForm">
    <div class="text-900 font-medium mb-2 text-xl">Let's get started</div>
    <p class="mt-0 mb-4 p-0 line-height-3">Enter the address or landmark where your market will be. When you are finished click the pencil to draw your market boundaries.</p>
    <div class="flex">
        <input pInputText class="flex-auto mr-3" formControlName="searchString" (keyup.enter)="searchAndZoom()">
        <button pButton pRipple label="Search" (click)="searchAndZoom()" [disabled]="mapSearchForm.invalid"></button>
    </div>
  </div>
</p-overlayPanel>

<p-overlayPanel #opAddBoundary>
  <div class="p-2 max-w-30rem" [formGroup]="marketNameForm">
    <div class="text-900 font-medium mb-2 text-xl">Draw the boundary for your market. Your market will take place inside these boundaries.</div>
    <p class="mt-0 mb-4 p-0 line-height-3">Click on points on the map to create a polygon/boundary. When you are finished, name your market and click the "Next" button.</p>
    <div class="flex">
        <input pInputText class="flex-auto mr-3" formControlName="name" (keyup.enter)="progressToAddVendorLocations()">
        <button pButton pRipple label="Next" (click)="progressToAddVendorLocations()" [disabled]="mapSearchForm.invalid"></button>
    </div>
  </div>
</p-overlayPanel>
