
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="text-5xl font-medium text-900 text-center mb-6">Goods sold at Jon's Organic Produce</div>
  <div class="grid -mt-3 -ml-3 -mr-3">
      <div class="col-12 md:col-6 lg:col-3 mb-5 md:mb-0">
          <div class="p-2">
              <div class="relative mb-2">
                  <img src="assets/images/ecommerce/productlist/product-list-7-1.png" class="w-full" />
                  <div class="absolute h-4rem w-4rem border-circle border-2 border-yellow-500 bg-gray-900 text-white inline-flex justify-content-center align-items-center" style="bottom: 1.25rem; right: 1rem">$42</div>
              </div>
              <div class="text-900 font-medium text-xl mb-3 text-center">Product Name</div>
              <p class="text-500 mt-0 mb-3 text-center line-height-3">Congue quisque egestas diam in. Nunc sed blandit libero volutpat.</p>

          </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3 mb-5 md:mb-0">
          <div class="p-2">
              <div class="relative mb-2">
                  <img src="assets/images/ecommerce/productlist/product-list-7-2.png" class="w-full" />
                  <div class="absolute h-4rem w-4rem border-circle border-2 border-yellow-500 bg-gray-900 text-white inline-flex justify-content-center align-items-center" style="bottom: 1.25rem; right: 1rem">$42</div>
              </div>
              <div class="text-900 font-medium text-xl mb-3 text-center">Product Name</div>
              <p class="text-500 mt-0 mb-3 text-center line-height-3">Congue quisque egestas diam in. Nunc sed blandit libero volutpat.</p>

          </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3 mb-5 md:mb-0">
          <div class="p-2">
              <div class="relative mb-2">
                  <img src="assets/images/ecommerce/productlist/product-list-7-3.png" class="w-full" />
                  <div class="absolute h-4rem w-4rem border-circle border-2 border-yellow-500 bg-gray-900 text-white inline-flex justify-content-center align-items-center" style="bottom: 1.25rem; right: 1rem">$42</div>
              </div>
              <div class="text-900 font-medium text-xl mb-3 text-center">Product Name</div>
              <p class="text-500 mt-0 mb-3 text-center line-height-3">Congue quisque egestas diam in. Nunc sed blandit libero volutpat.</p>

          </div>
      </div>
      <div class="col-12 md:col-6 lg:col-3">
          <div class="p-2">
              <div class="relative mb-2">
                  <img src="assets/images/ecommerce/productlist/product-list-7-4.png" class="w-full" />
                  <div class="absolute h-4rem w-4rem border-circle border-2 border-yellow-500 bg-gray-900 text-white inline-flex justify-content-center align-items-center" style="bottom: 1.25rem; right: 1rem">$42</div>
              </div>
              <div class="text-900 font-medium text-xl mb-3 text-center">Product Name</div>
              <p class="text-500 mt-0 mb-3 text-center line-height-3">Congue quisque egestas diam in. Nunc sed blandit libero volutpat.</p>

          </div>
      </div>
  </div>
</div>
