<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="grid -mt-3 -ml-3 -mr-3">
    <div class="col-12 md:col-6 lg:col-4 xl:col-2 border-bottom-1 surface-border md:border-bottom-none">
      <div class="p-2">
        <img src="https://omgproductimagestorage.blob.core.windows.net/productimages/7eb2b23f-ca84-488e-8737-658448f39961/127609c8-d083-4491-9629-7e691ce963fb/126d8a87-010d-4789-984e-378a8e77fa76--apples.jpg" class="w-full mb-3" />
        <span class="text-900">Assorted Apples</span>
        <div class="text-900 text-xl font-medium mb-2">$2.00/lbs</div>
        <p-chip label="Produce" styleClass="mr-1"></p-chip>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4 xl:col-2 border-bottom-1 surface-border md:border-bottom-none">
      <div class="p-2">
        <img src="https://omgproductimagestorage.blob.core.windows.net/productimages/7eb2b23f-ca84-488e-8737-658448f39961/9c21add2-1412-4e39-9bca-3378f65048df/09ae5ec9-ae46-4204-83ee-1e14b1c13117--mustardgreens.jpg" class="w-full mb-3" />
        <span class="text-900">Mustard greens</span>
        <div class="text-900 text-xl font-medium mb-2">$2.50/bunch</div>
        <p-chip label="Produce" styleClass="mr-1"></p-chip>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4 xl:col-2 border-bottom-1 surface-border md:border-bottom-none">
      <div class="p-2">
        <img src="https://omgproductimagestorage.blob.core.windows.net/productimages/7eb2b23f-ca84-488e-8737-658448f39961/20793f80-fea8-4ad2-8ca2-c45922aab0d6/ffc21180-80c7-4d22-9172-61927a39cc82--romainelettuce.jpg" class="w-full mb-3" />
        <span class="text-900">Romaine Lettuce</span>
        <div class="text-900 text-xl font-medium mb-2">$1.50/bunch</div>
        <p-chip label="Produce" styleClass="mr-1"></p-chip>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4 xl:col-2 border-bottom-1 surface-border md:border-bottom-none">
      <div class="p-2">
        <img src="https://omgproductimagestorage.blob.core.windows.net/productimages/7eb2b23f-ca84-488e-8737-658448f39961/6b989d49-e973-43b5-8bd2-89a4f0703ce6/df33b91c-7582-47c4-9700-bc735c635485--cucumbers.jpg" class="w-full mb-3" />
        <span class="text-900">Cucumbers</span>
        <div class="text-900 text-xl font-medium mb-2">$0.50/each</div>
        <p-chip label="Produce" styleClass="mr-1"></p-chip>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4 xl:col-2 border-bottom-1 surface-border md:border-bottom-none">
      <div class="p-2">
        <img src="https://omgproductimagestorage.blob.core.windows.net/productimages/7eb2b23f-ca84-488e-8737-658448f39961/4c5c30e5-b2dc-4f1d-a090-7b95a90b518a/e55fdd72-6f90-4c92-8002-e575672e7c2e--cantaloupe.jpg" class="w-full mb-3" />
        <span class="text-900">Cantaloupe</span>
        <div class="text-900 text-xl font-medium mb-2">$2.50/each</div>
        <p-chip label="Produce" styleClass="mr-1"></p-chip>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4 xl:col-2 border-bottom-1 surface-border md:border-bottom-none">
      <div class="p-2">
        <img src="https://omgproductimagestorage.blob.core.windows.net/productimages/7eb2b23f-ca84-488e-8737-658448f39961/08a26ea4-e510-49b9-ab17-2f122e6e5879/1b5e930a-0c91-40ad-9881-20f0d0eb5b61--sweetcorn.jpg" class="w-full mb-3" />
        <span class="text-900">Sweet corn</span>
        <div class="text-900 text-xl font-medium mb-2">$1.00/each</div>
        <p-chip label="Produce" styleClass="mr-1"></p-chip>
      </div>
    </div>
    <div class="col-12 md:col-6 lg:col-4 xl:col-2 border-bottom-1 surface-border md:border-bottom-none">
      <div class="p-2">
        <img src="https://omgproductimagestorage.blob.core.windows.net/productimages/7eb2b23f-ca84-488e-8737-658448f39961/3f159c90-1b7c-43a2-93ba-54996fc5354f/83b2865a-0e47-49c4-a7ac-4902b6a2c90d--greenbeans.jpg" class="w-full mb-3" />
        <span class="text-900">Green beans</span>
        <div class="text-900 text-xl font-medium mb-2">$2.50/lbs</div>
        <p-chip label="Produce" styleClass="mr-1"></p-chip>
      </div>
    </div>
  </div>
</div>
