
<section class="surface-section px-4 py-8 md:px-6 lg:px-8">
  <div class="flex flex-wrap px-6">
      <article class="w-full mt-8 xl:mt-0 xl:mb-0 xl:w-8 flex flex-column flex-order-1 xl:flex-order-0 justify-content-center align-items-center xl:align-items-start">
          <span class="text-blue-500 font-semibold text-lg mb-2">CONNECTING CUSTOMERS TO OPEN MARKETS THROUGH INNOVATION</span>
          <h2 class="font-bold text-4xl sm:text-7xl mt-0 mb-4">We help market's thrive!</h2>
          <div class="flex gap-3">
              <button pButton pRipple type="button" label="Get Started" icon="pi pi-arrow-right" iconPos="right" class="z-2" [routerLink]="['market-setup']"></button>
              <button pButton pRipple type="button" label="Documentation" class="p-button-outlined z-2"></button>
          </div>
      </article>
      <div class="xl:w-4 relative flex justify-content-center align-items-center w-full image-container">
          <img src="assets/images/3dmapfarmersmarket.png" style="max-width: 100%; max-height: 100%; object-fit: contain;">
          <article class="absolute flex align-items-center w-24rem p-1 border-round-xl z-2 right-0 md:right-50 gap-3 px-4 py-3" style="top: 30%; backdrop-filter: blur(40px); background-color: rgba(255, 255, 255, 0.5)">
            <img src="assets/favicon/favicon-32x32.png" alt="Image" class="border-circle">
              <div class="flex flex-column justify-content-center w-full">
                  <p class="m-0 font-semibold text-sm line-height-1.5 text-black-alpha-60">Jon's Organic Produce</p>
                  <p class="m-0 font-medium text-sm line-height-1.5 text-black-alpha-80">Last minute deal on cucumbers</p>
              </div>
          </article>
          <article class="absolute flex align-items-center w-24rem border-round-xl z-2 right-0 md:right-50 gap-3 px-4 py-3" style="top: 50%; backdrop-filter: blur(40px); background-color: rgba(255, 255, 255, 0.5);">
            <img src="assets/favicon/favicon-32x32.png" alt="Image" class="border-circle">
            <div class="flex flex-column justify-content-center w-full">
                <p class="m-0 font-semibold text-sm line-height-1.5 text-black-alpha-60">OpenMarketGuide</p>
                <p class="m-0 font-medium text-sm line-height-1.5 text-black-alpha-80">A vendor is selling an item you expressed interest in</p>
            </div>
        </article>
          <article class="absolute flex align-items-center w-24rem p-1 border-round-xl z-2 right-0 md:right-50 gap-3 px-4 py-3" style="top: 70%; backdrop-filter: blur(40px); background-color: rgba(255, 255, 255, 0.5)">
              <img src="assets/favicon/favicon-32x32.png" alt="Image" class="border-circle">
              <div class="flex flex-column justify-content-center w-full">
                  <p class="m-0 font-semibold text-sm line-height-1.5 text-black-alpha-60">OpenMarketGuide</p>
                  <p class="m-0 font-medium text-sm line-height-1.5 text-black-alpha-80">A food truck you favorited will be at the next Burnsville Farmer's Market</p>
              </div>
          </article>
      </div>
  </div>
</section>
