<div id="cesium"></div>
<!-- <div class="speeddial-circle-demo">
  <p-speedDial [model]="items" [radius]="120" direction="up-left" type="quarter-circle"></p-speedDial>
</div> -->

  <!-- <p-speedDial [model]="leftTooltipItems" className="speeddial-right" direction="up"></p-speedDial> -->
  <!-- <p-speedDial [model]="items" className="speeddial-left" direction="up"></p-speedDial> -->
  <p-speedDial [model]="items" direction="right"></p-speedDial>
<p-dialog header="Save Vendor Spot" [visible]="showSaveBoundaryDialog()" position="bottom" [style]="{ width: '50vw' }">
  <div class="card" [formGroup]="vendorLocationForm">
    <div class="field">
      <label for="boundaryName">Vendor Spot Name</label>
      <input id="boundaryName" type="text"
        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
        formControlName="name">
    </div>
    <div class="field">
      <label for="boundaryName">Color</label>
      <div>
        <p-colorPicker formControlName="color" format="rgb" appendTo="body"></p-colorPicker>
      </div>
    </div>
    <button type="button"
      class="text-white bg-primary-500 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700"
      (click)="saveBoundary()"[disabled]="vendorLocationForm.invalid">Save</button>
  </div>
</p-dialog>
