<div id="cesium"></div>
<p-dialog header="Save Boundary" [visible]="showSaveBoundaryDialog()" position="bottom" [style]="{ width: '50vw' }">
  <div class="card" [formGroup]="boundaryForm">
    <div class="field">
        <label for="boundaryName">Boundary name</label>
        <input id="boundaryName" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" formControlName="name">
    </div>
    <button type="button" class="text-white bg-primary-500 border-primary-500 px-3 py-2 text-base border-1 border-solid border-round cursor-pointer transition-all transition-duration-200 hover:bg-primary-600 hover:border-primary-600 active:bg-primary-700 active:border-primary-700" (click)="saveBoundary()">Save</button>
  </div>
</p-dialog>
